*
{
    font-family: 'roboto';    
    margin: 0px;
}

header
{
    width: 100%;
    height: 400px;
    background-color: darkgray;
}

h1
{
    font-size: 300%;
    font-weight: 300;
    text-align: center;
}

ul
{
    float: right;
    width: 100%;
    background-color: aquamarine;
}

li
{
    margin:10px; 
    background-color:coral;
    display: inline;
    line-height: 2;
    padding: 10px 30px;
    vertical-align: middle;
    float: left;
}

li a
{
    text-decoration: none;
}