*
{
	font-family: verdana;
	margin: 0px;
	font-size: 15px;
}

header
{
	max-width: 1000px;
	margin: auto;
}

#leftSide
{
	width: 66.66%;
	float: left;
	background-color: #002664;
}

#rightSide
{
	float: right;
	width: 33.33%;
	background-color: 002664;
}

#leftSide ul
{
	min-height: 40px;
	vertical-align: middle;
	text-align: left;
	vertical-align: middle;
	line-height: 2.6em;
	padding-left: 20px;
}



#leftSide ul li
{
	max-height: 40px;	
	display: inline;
}

#leftSide ul li:nth-child(1)
{
	padding-right: 20px;
}

#leftSide ul li a
{
	color: white;
	text-decoration: none;
}

#rightSide img
{
	float: right;
	width: 40;
}

#rightSide img:nth-child(1)
{
	margin-right: 10px;
}

#preBanner
{
/*	clear: both;*/
    min-height: 86px;
	max-height: 60px;
	vertical-align: middle;
	line-height: 1.2;
    position: relative;
}

#preBanner img
{
	width: 160px;
	margin: 5 10 5 10;
}

#mobInfo
{
	float: right;
	min-width: 200px;
	text-align: right;
	margin-top: 4px;
/*    background-color: yellow;*/
    position: relative;
    bottom: 50px;
}


#mobInfo label::before:nth-child(2)
{
	content: "adasdasadass";
}

#mobInfo label
{
	text-align: right; 
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
}

#mobInfo div
{
	display: inline;
}

.bannerNo
{
	font-size: 110%;
	font-weight: bold;
	letter-spacing: -0.4;
	color: darkred;
}



#mainBanner 
{
	background-image: url("../img/web_banner_bkgrnd_black.jpg");
	max-height: 230px;
	min-height: 230px;
	background-position: -1000 center;
	text-align: center;
}

#mainBanner img
{
	width: 80%;
	margin-top:30px;
}

#mainBanner h2
{
	color: white;
	text-align: center;
	max-width: 80%;
	margin: auto;
	margin-top: 30px;
	line-height: 1.5;
	font-weight: lighter;
	font-size: 140%;
}

#main
{
	max-width: 1000;
	margin: auto;
	padding: 0px;
    text-align: center;
    
}

#main ul
{
	margin-top: 15px;
	padding: 0px;
	width: 100%;	
}

#main ul li
{
/*	float: left; didn't use a bug */
	text-decoration: none;
	display: inline-block;
	width: 22.333333%;
/*	margin: 0px 2px 0px 2px;*/
	min-height: 230;
	text-align: center;
	margin: 0 2 0 2; 
}

#main ul li:nth-child(1)
{
	background-color: red;
	color: white;
	margin-left: 10px;
	
}
#main ul li:nth-child(2)
{
	background-color: dimgray;
	color: white;
}
#main ul li:nth-child(3)
{
	color: white;
	background-color: darkblue;
}
#main ul li:nth-child(4)
{
	color: white;
	background-color: black;
}

#leftMain::before
{
	
}

#leftMain h1
{
	margin: 20px;
	font-size: 2.5em;
	font-weight: 100;
	text-align: center;
	font-weight: lighter;
}

#leftMain
{
	display: block;
	clear: left;
	background-color: aquamarine;
	max-width: 625;
	width: 98%;
	min-height: 2px;
	margin: auto;
	
/*	margin: 10px 100px 20px 100px;*/
}

#menuBar ul li
{
    display: inline; 
    margin: 10px;
}

#menuBar ul
{
    display: inline;
    float: left;
    width: 55%;
/*    background-color: red;*/
    position: absolute;
    top: -35;
    left: 200px;
}

#menuBar 
{
    position: relative;
    background-color: aqua;
    
}

@media screen and (max-width:900px)
{
    #menuBar
    {
        display: none;
    }
    
    #mobInfo
    {
/*        display: none;*/
        position: relative;
        top: 0;
    }
}

@media screen and (min-width:900px)
{
    #leftSide, #rightSide
    {
        display: none;
    }
   
}

@media screen and (max-width:500px)
{
    #main ul li
    {
        width: 95%;
        margin: 10px 10px 10px 0px; 
    }
    
    #main ul li:nth-child(1)
    {
        margin-left: 0;
    }
    

}