*
{
	font-family: lato;
	margin: 0px;
    font-size: 15px;
    font-weight: 300;
}

section
{
    width: 200px;
    background-color: lightblue;
    margin: 10px;
    display: inline-block;
    height: 200px;
}

section:nth-child(odd)
{
    background-color: lightgreen;
}

li::before
{
    content: '\00A3';
}
#menuBar {
    
}
