*
{
    font-family: lato;
    line-height: 150%;
}

h1
{
    font-weight: 300;
    text-align: center;
}

header p
{
    width: 80%;
    max-width: 900px;
    margin: auto;
}    

#images1
{
    padding: 30px;
    margin: auto;
    width: 900px;
    text-align: center;
}